<%= form_with(model: api_v1_message) do |form| %>
  <% if api_v1_message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(api_v1_message.errors.count, "error") %> prohibited this api_v1_message from being saved:</h2>

      <ul>
        <% api_v1_message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_field :text %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
