<p style="color: green"><%= notice %></p>

<%= render @api_v1_message %>

<div>
  <%= link_to "Edit this message", edit_api_v1_message_path(@api_v1_message) %> |
  <%= link_to "Back to messages", api_v1_messages_path %>

  <%= button_to "Destroy this message", @api_v1_message, method: :delete %>
</div>
